@media screen and (max-width:700px) {
    .PokemonBody{
    display: flex;
    flex-direction: column;

    }
    .PokemonCreater{
        height: 10px;
        overflow: hidden;
    }
}

.PokemonBody{
    position: relative;
    background-image: url('../../../img/background/Laboratorio1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;    
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 1em 1em 4em 0.2em ;
    
}



.PokemonCreater{
    border-radius: 1em;
    box-shadow: 1em 1em 1em 0.2em;
    margin: 0.5em;
    background-color: rgba(249, 29, 29, 0.937);
    height: 36em;
    width: 29em;

    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(1fr,1fr));
    overflow: hidden;
    padding: 1em;
    justify-content: center;


}





.detailsPokemon
{
    
    /* background-color: rgb(162, 25, 187); */
 display: flex;
justify-content: center;


}

.detailsPokemon input{

    background-color: rgba(108, 156, 156, 0.671);
    width:150px;
    border: none;
    padding: 2px;
    height: max-content;

    border-radius: 0em 1em 0em 0em;
    align-self: center;
    

}
.detailsPokemon input::placeholder{

    color: rgba(7, 51, 53, 0.89);

}
.detailsPokemon label{
    display: block;
    background-color: rgba(95, 204, 206, 0.787);
    height: max-content;
    text-align: center;
    width: 100px;
    border-radius: 5px 50px;
    color: rgba(14, 81, 83, 0.787);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 2px;
    
}



.detailsPokemonrigth{
    padding: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
height: cover;
}
.detailsPokemonleft{

    padding: 5px;

    display: flex;
    flex-direction: column;
    row-gap: 1em;
    height: cover;
}

.detailsPokemonrigth div{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    background-color: rgb(239, 239, 239);
    border-radius: 1em 6em;
    width: 200px;
    overflow: hidden;

}

.detailsPokemonleft div{
    overflow: hidden;
width: 200px;

    row-gap: 5px;
    display: flex;
    flex-direction: column;
    background-color: rgb(239, 239, 239);
    border-radius: 1em 6em;
    

}

/* verrrrrrrrrr */
.Types
{  
    /* overflow: hidden; */
    width: 9em;
    height: 7em;
  
    display: flex;
   
     /* animation-name: ani;
    animation-duration: 2s;
    animation-duration: infinite; */
}
 
 /* @keyframes ani {
    2%{margin-left: 12em;}
    
}  */
 /* verrrrrrrrr */

 .TypesContainer
 {
    background-color: rgb(239, 239, 239);

     overflow-x: scroll;
     display: flex;
     margin: 10px;
     
 }

 .TypesContainer::-webkit-scrollbar{
    background-color: rgb(239, 239, 239);

 }
 .TypesContainer::-webkit-scrollbar-thumb{
    background-color: rgba(14, 81, 83, 0.787);
    border-radius: 10px;
 }
 .TypesContainer::-webkit-scrollbar-thumb:active{
    border: 2px solid black;
 }


 .TypesContainer::-webkit-scrollbar-track{
    background-color: rgb(174, 216, 217);


 }
 /* .TypesContainer::-webkit-scrollbar-button{
    background-color: rgba(99, 221, 223, 0.787);
    border: 2px solid rgba(14, 81, 83, 0.787);

 } */
 .Types{
    background-color: rgba(14, 81, 83, 0.787);

    width: max-content ;
    
 }

.Types div{
    width: contain    ;
/* background-color: gray; */
    /* background-color: rgba(95, 204, 206, 0.787); */
    display: flex;
    flex-direction: column;
    height: 8em;

}
.Types img{
    
    height: 100%;
    width: 4em;
}
.Types img:hover
{  
    cursor: pointer;
    /* overflow: hidden; */
    background-color: rgb(174, 216, 217);

   
}
.Types div div{
    height:fit-content;
    padding: 10px;
    background-color: rgb(174, 216, 217);
    border: 1px solid  gray;
}





.button{

    width: 30em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button input{
    height: 3em;
    width: 10em;

    background-color: rgb(174, 216, 217);

    font-weight:bolder;
    font-size: large;
    letter-spacing: 1px;
    color: rgb(10, 73, 75);

    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.button input:hover{
    transform: scale(1.1);
    
}
.buttonerror{
    display: none;
    background-color: rgb(40, 12, 12);

    height: 3em;
    width: 10em;


    font-weight:bolder;
    font-size: large;
    letter-spacing: 1px;
    color: rgb(10, 73, 75);

    border-radius: 10px;
    border: none;
    cursor: pointer;
}


/*  */

.ViewPokemonCreated{
    border-radius: 10px;
    
    background-color: rgb(14, 47, 48);

    height: 38em;
    width: 29em;
    box-shadow: 2em 2em 2em 0.1em;
    margin-left: 0.6em;
    
}

.detailsView{
    position: relative;
    height: 20em;
    width: 10;
    background-color: rgb(49, 105, 105);
    display: flex;
    justify-content: center;


}

.detailsView div{
    margin: 1em;
    height: 300px;

    display: flex;
}

.detailsView div label{
    background-color: rgb(251, 74, 74);
    display:block;
    width: 5em;
    height: 25.9px;
    border-radius: 0.5em 0em 0em 0em;
    color: rgb(197, 231, 236);
    font-weight: bold;
    letter-spacing: 0.5px;
    
}

.detailsView div a{    
    display: flex;
    justify-content: center;
}
.detailsView div a button{
    height: 30px;
    width: 50px;
    margin: 5px;
    background-color: rgb(251, 74, 74);
    border: 2px solid rgb(197, 231, 236);
    color: rgb(197, 231, 236);
    border-radius: 5px;
}




.detailsView p{
    overflow: hidden;
    display: block;
    background-color: bisque;
    border-radius: 0em 1em 0em 0em;

    width: 9em;
    height: 1.6em;
    text-align: center;
}


.detailsViewleft{
    width: 200px;
    height: 200px;

    background-color: rgb(6, 34, 30);
    display: flex;
    flex-direction: column;
    border-radius: 0.5em 1em 0.5em 1em;

}
.detailsViewrigth{
    width: 200px;
    height: 200px;
    


    background-color: rgb(6, 34, 30);
    border-radius: 0.5em 1em 0.5em 1em;

    display: flex;
    flex-direction: column;


}



.ViewTypes{
    background-color: antiquewhite;
    height: 5.8em;
    width: 29em;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    
}

.errortypes2{
    position: absolute;
    font-size: larger;
    font-weight: bolder;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    overflow: hidden;

    /* background-color: rgba(180, 179, 189, 0.445); */
    padding-left: 50px;
    padding-right: 50px;
    padding-top:30px ;
    padding-bottom:30px ;
    
}
.errortypes2 p{
   color: red;
   font-size: larger;
   animation-name:errorr ;
   animation-duration: 2s;
   animation-iteration-count:infinite;
   animation-direction:alternate;


}

@keyframes errorr {
    0%{transform: translateX(10px);}
   100%{transform: translateX(-10px);}
   
    
}
.ViewPokemonCreatedcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ViewTypes img{
    background-size: 4.9em;
    background-position: center ;
    width: 6em;
    height: 6em;

}
.img1{
    box-sizing: border-box;
    box-sizing: content-box;

    margin: 10px;
    height: 8em;
    width: 10em;
    max-height:8em ;
    min-height:8em ;

    max-width:10em ;
    min-width:10em ;
    background-color: rgb(49, 105, 105);


    border: 1em ridge  rgb(6, 34, 30);
    ;
}







.errorInput{
    
    background-color: rgb(239, 239, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 5em;


}
.errorInput p{
    animation-name:error ;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    font-size: 30px;
    animation-direction:alternate;
    color: red;
    font-size: bolder;

}

@keyframes error {
    0%{transform: translateX(10px);}
   100%{transform: translateX(-10px);}
   
    
}




/* //////////////////// */
.normal{
    background-image: url('../../../img/types_logos/normal.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.fighting{
    background-image: url('../../../img/types_logos/fighting.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.bug{
    background-image: url('../../../img/types_logos/bug.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.dark{
    background-image: url('../../../img/types_logos/dark.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.dragon{
    background-image: url('../../../img/types_logos/dragon.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.electric{
    background-image: url('../../../img/types_logos/electric.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.fairy{
    background-image: url('../../../img/types_logos/fairy.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}

.fire{
    background-image: url('../../../img/types_logos/fire.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.flying{
    background-image: url('../../../img/types_logos/flying.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.ghost{
    background-image: url('../../../img/types_logos/ghost.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.grass{
    background-image: url('../../../img/types_logos/grass.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.ground{
    background-image: url('../../../img/types_logos/ground.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.ice{
    background-image: url('../../../img/types_logos/ice.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.poison{
    background-image: url('../../../img/types_logos/poison.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.psychic{
    background-image: url('../../../img/types_logos/psychic.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.rock{
    background-image: url('../../../img/types_logos/rock.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.shadow{
    background-image: url('../../../img/types_logos/shadow.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.steel{
    background-image: url('../../../img/types_logos/steel.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.unknown{
    background-image: url('../../../img/types_logos/unknown.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.water{
    background-image: url('../../../img/types_logos/water.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}