.PokemonBody{
    position: relative;
    background-image: url('../../../img/background/Laboratorio1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    height: 100%;
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 1em 1em 4em 0.2em ;
    
}

.PokemonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-color: rebeccapurple; */
    width: 100%;
    
    height: 40.5em;

    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit,minmax(100px,500px));

}



.PokemonCreater{
    border-radius: 1em;
    box-shadow: 1em 1em 1em 0.2em;
    margin: 0.5em;
    background-color: rgba(249, 29, 29, 0.937);
    height: 36em;
    width: 29em;

    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(1fr,1fr));
    overflow: hidden;
    padding: 1em;

}





.detailsPokemon
{
    /* background-color: rgb(162, 25, 187); */
    width: 29em;
    height: 20em;
    overflow: hidden;
    display: grid;
    

    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    
    column-gap: 1em;

}

.detailsPokemon div{

    height: max-content;
    width: 100%;
    background-color: rgb(239, 239, 239);
    border-radius: 1em 6em;
    overflow: hidden;
}


.detailsPokemon label{
    
    display: block;
    background-color: rgba(95, 204, 206, 0.787);
    height: max-content;
    text-align: center;
    width: 4em;
    border-radius: 5px 50px;
    color: rgba(14, 81, 83, 0.787);
    font-weight: bold;
    letter-spacing: 1px;

}

.detailsPokemon input
{
    background-color: rgb(174, 216, 217);

    border: none;
    padding: 2px;
    height: max-content;

    border-radius: 0em 1em 0em 0em;


 
}



.detailsPokemon input::placeholder{
    color: rgb(10, 73, 75);
}



/* verrrrrrrrrr */
.Types
{  
    /* overflow: hidden; */
    width: 9em;
    height: 7em;
  
    display: flex;
   
     /* animation-name: ani;
    animation-duration: 2s;
    animation-duration: infinite; */
}
 
 /* @keyframes ani {
    2%{margin-left: 12em;}
    
}  */
 /* verrrrrrrrr */


.Types div{
    background-color: rgba(95, 204, 206, 0.787);
    display: flex;
    flex-direction: column;
    height: 7.9em;

}
.Types img{
    height: 100%;
    width: 4em;
}
.Types img:hover
{  
    cursor: pointer;
    /* overflow: hidden; */
    background-color: rgb(174, 216, 217);

   
}



.TypesContainer
{
    background-color: rgba(99, 221, 223, 0.787);



    overflow-x: scroll;
    margin-left: -1em;
}


.button{

    width: 30em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button input{
    height: 3em;
    width: 10em;

    background-color: rgb(174, 216, 217);

    font-weight:bolder;
    font-size: large;
    letter-spacing: 1px;
    color: rgb(10, 73, 75);

    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.button input:hover{
    transform: scale(1.1);
    
}
.buttonerror{
    display: none;
    background-color: rgb(40, 12, 12);

    height: 3em;
    width: 10em;


    font-weight:bolder;
    font-size: large;
    letter-spacing: 1px;
    color: rgb(10, 73, 75);

    border-radius: 10px;
    border: none;
    cursor: pointer;
}


/*  */

.ViewPokemonCreated{
    border-radius: 10px;
    
    background-color: rgb(14, 47, 48);

    height: 38em;
    width: 29em;
    box-shadow: 2em 2em 2em 0.1em;
    margin-left: 0.6em;
    
}

.detailsView{
    height: 20em;
    width: 29em;
    background-color: rgb(49, 105, 105);
    display: grid;

    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));

}

.detailsView div{
    margin: 1em;
    height: 1.5em;

    display: flex;
}

.detailsView div label{
    background-color: rgb(251, 74, 74);
    display:block;
    width: 4em;
    height: 25.9px;
    border-radius: 1em 0em 0em 0em;
    color: rgb(197, 231, 236);
    font-weight: bold;
    letter-spacing: 0.5px;
    
}



.detailsView p{
    overflow: hidden;
    display: block;
    background-color: bisque;
    border-radius: 0em 1em 0em 0em;

    width: 9em;
    height: 1.6em;
    

}



.ViewTypes{
    background-color: antiquewhite;
    height: 5.8em;
    width: 29em;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    
}


.ViewTypes img{
    background-size: 4.9em;
    background-position: center ;
    width: 6em;
    height: 6em;

}
.img1{
    box-sizing: border-box;
    box-sizing: content-box;

    margin: 10px;
    height: 8em;
    width: 10em;
    min-height: 8em;
    max-height:8em ;
    background-color: rgb(49, 105, 105);


    border: 1em ridge  rgb(6, 34, 30);
    ;
}














/* //////////////////// */
.normal{
    background-image: url('../../../img/types_logos/normal.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.fighting{
    background-image: url('../../../img/types_logos/fighting.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.bug{
    background-image: url('../../../img/types_logos/bug.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.dark{
    background-image: url('../../../img/types_logos/dark.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.dragon{
    background-image: url('../../../img/types_logos/dragon.png');
    background-position: center;
    background-size: 6em;
    background-repeat: no-repeat;
    height: 7em; 
}
.electric{
    background-image: url('../../../img/types_logos/electric.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.fairy{
    background-image: url('../../../img/types_logos/fairy.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}

.fire{
    background-image: url('../../../img/types_logos/fire.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.flying{
    background-image: url('../../../img/types_logos/flying.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.ghost{
    background-image: url('../../../img/types_logos/ghost.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.grass{
    background-image: url('../../../img/types_logos/grass.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.ground{
    background-image: url('../../../img/types_logos/ground.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.ice{
    background-image: url('../../../img/types_logos/ice.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.poison{
    background-image: url('../../../img/types_logos/poison.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.psychic{
    background-image: url('../../../img/types_logos/psychic.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.rock{
    background-image: url('../../../img/types_logos/rock.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.shadow{
    background-image: url('../../../img/types_logos/shadow.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.steel{
    background-image: url('../../../img/types_logos/steel.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.unknown{
    background-image: url('../../../img/types_logos/unknown.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}
.water{
    background-image: url('../../../img/types_logos/water.png');
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
    height: 7em; 
}