.detail {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 70%;

}

.lin {
    width: 100%;
    height: 15%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.boximg {

    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lin {
    border: 4px solid rgb(252, 245, 245);
    width: 50%;
    border-radius: 10px;
}

/* .detail a {
    width: 50%;
    border-radius: 2px;
    display: flex;
    color: rgba(18, 0, 0, 0.77);
    text-decoration: none;
    font-weight: 900;
    letter-spacing: 0.9px;
    border: 2px solid;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
} */



.detail a:hover {
    background-color: rgba(244, 248, 248, 0.176);
    border-radius: 3px;
}


.name {

    font-size: 20px;
    color: white;

    text-align: center;
    width: 90%;
    height: 20%;
    text-transform: capitalize;
}

.img {

    height: 100%;
    width: 100%;
    max-width: 140px;
}



.types {
    background-color: rgb(142, 7, 7);
    width: 30%;

    list-style: none;
    overflow: hidden;
}

.buttonSeeMore {
    color: white;
    font-weight: 900;
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: large;
}

.buttonSeeMore:hover {
    cursor: pointer;
    background-color: transparent;

}

.normal {
    background-image: url('../../../img/types_logos/normal.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em;
}

.fighting {
    background-image: url('../../../img/types_logos/fighting.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em;
}

.bug {
    background-image: url('../../../img/types_logos/bug.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em;
}

.dark {
    background-image: url('../../../img/types_logos/dark.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em;
}

.dragon {
    background-image: url('../../../img/types_logos/dragon.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em;
}

.electric {
    background-image: url('../../../img/types_logos/electric.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em;
}

.fairy {
    background-image: url('../../../img/types_logos/fairy.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em;
}

.fire {
    background-image: url('../../../img/types_logos/fire.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em;
}

.flying {
    background-image: url('../../../img/types_logos/flying.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em;
}

.ghost {
    background-image: url('../../../img/types_logos/ghost.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em;
}

.grass {
    background-image: url('../../../img/types_logos/grass.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em;
}

.ground {
    background-image: url('../../../img/types_logos/ground.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em;
}

.ice {
    background-image: url('../../../img/types_logos/ice.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em;
}

.poison {
    background-image: url('../../../img/types_logos/poison.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em;
}

.psychic {
    background-image: url('../../../img/types_logos/psychic.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em;
}

.rock {
    background-image: url('../../../img/types_logos/rock.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em;
}

.shadow {
    background-image: url('../../../img/types_logos/shadow.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em;
}

.steel {
    background-image: url('../../../img/types_logos/steel.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em;
}

.unknown {
    background-image: url('../../../img/types_logos/unknown.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em;
}

.water {
    background-image: url('../../../img/types_logos/water.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em;
}