.grass{
    background-image: url('../../../img/types_logos/grass.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 9em; 
    width: 5.6em;
}
.poison{
    background-image: url('../../../img/types_logos/poison.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 9em; 
    width: 5.6em;


}
.normal{
    background-image: url('../../../img/types_logos/normal.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em; 
}
.fighting{
    background-image: url('../../../img/types_logos/fighting.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em; 
}
.bug{
    background-image: url('../../../img/types_logos/bug.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em; 
}
.dark{
    background-image: url('../../../img/types_logos/dark.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em; 
}
.dragon{
    background-image: url('../../../img/types_logos/dragon.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em; 
}
.electric{
    background-image: url('../../../img/types_logos/electric.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em; 
}
.fairy{
    background-image: url('../../../img/types_logos/fairy.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em; 
}

.fire{
    background-image: url('../../../img/types_logos/fire.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em; 
}
.flying{
    background-image: url('../../../img/types_logos/flying.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em; 
}
.ghost{
    background-image: url('../../../img/types_logos/ghost.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em; 
}

.ground{
    background-image: url('../../../img/types_logos/ground.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em; 
}
.ice{
    background-image: url('../../../img/types_logos/ice.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em; 
}
.poison{
    background-image: url('../../../img/types_logos/poison.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em; 
}
.psychic{
    background-image: url('../../../img/types_logos/psychic.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em; 
}
.rock{
    background-image: url('../../../img/types_logos/rock.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em; 
}
.shadow{
    background-image: url('../../../img/types_logos/shadow.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em; 
}
.steel{
    background-image: url('../../../img/types_logos/steel.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em; 
}
.unknown{
    background-image: url('../../../img/types_logos/unknown.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em; 
}
.water{
    background-image: url('../../../img/types_logos/water.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 7em; 
}
